@import "ui-variables";
@import "syntax-variables";

@ms: 300ms;

@highlight-opacity:            0.8;
@highlight-blend-mode:         screen;
@highlight-border-radius:      2px;
@highlight-padding-vertical:   0px;
@highlight-padding-horizontal: 2px;

@status-bar-label-padding:     0.5em;

@overlay-shadow:               0 0 4em fade(black, 15%);
@overlay-border-radius:        2px;
@overlay-message-font-size:    0.9em;



.linter-overview {

  .entry {
    display: inline-flex;
    align-items: center;
  }

  .entry:not(:first-child) {
    margin-left: @status-bar-label-padding;
  }

  .entry strong {
    flex: 1 1 auto;
  }

  .entry output {
    flex:        1 1 auto;
    margin:      0;
    padding:     0;
    margin-left: @status-bar-label-padding;
  }


  .list-overlay {
    position: fixed;
    z-index:  1000;
    transform: translateY(-100%);
    background-color: @overlay-background-color;
    border: 1px solid @overlay-border-color;
  }

}



// Mixins

.states () {
  .bg (@col) {
    --background-color: @col;
    --border-color: var(--background-color, lighten(@col, 2%));
  }

  &           { .bg(@overlay-background-color) }
  &.info      { .bg(@text-color-info) }
  &.success   { .bg(@text-color-success) }
  &.error     { .bg(@text-color-error) }
  &.fatal     { .bg(@text-color-error) }
  &.warning   { .bg(darken(@text-color-warning, 12%)) }
  &.highlight { .bg(@background-color-highlight) }
}

.caret (@location) {
  @size:    8px;
  position: relative;

  &::before {
    content:      "";
    left:         -1px;
    display:      block;
    position:     absolute;
    border-style: solid }

  &::before when (@location = below) {
    top:          0;
    transform:    translate(0, -100%);
    border-color: transparent transparent var(--background-color);
    border-width: 0 @size @size 0 }

  &::before when (@location = above) {
    bottom:       0;
    transform:    translate(0, 100%);
    border-color: var(--background-color) transparent transparent;
    border-width: @size @size 0 0 }
}


.braces () {
  &::before { content: "(" }
  &::after  { content: ")" }
}
